# Node
node_modules/

# Output
out/
dist/

# VS Code
.vscode/
.vscode-test/
reference_repo/

# Build artifacts
build/
*.vsix
tsconfig.tsbuildinfo

# Misc
coverage/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*